/* 各个页面相同的样式表 例如：网页的头部，尾部*/
/*版心居中*/
.wrapper {
    width: 1240px;
    margin: 0 auto;
  }
/* 快捷导航 */
  .shortcut{
    /* 通栏背景 */
    height: 52px;
    background-color: #333;
  }
  .shortcut .wrapper {
    /* 版心居中行高 */
    height: 52px;
  }
  .shortcut .wrapper ul{
    /* 设置UL右浮动，让里面黑绒垂直居中 */
    line-height: 52px;
  }
  .shortcut .wrapper li{
  /* 设置里li左浮动，设置3PX的外边距 */
    margin: 0 3px;
    
  }
  .shortcut li a{
    padding: 0 13px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #bcbcbc;
  }
  .shortcut li .a-7{
    /* 取消最后一个元素右边框为无 */
    border-right: none;
    padding-right: 0;
  }

  .shortcut li a span{
    /* 转换为块元素 */
    display: inline-block;
    margin-right: 8px; 
    width: 11px;
    height: 16px;
    background-image: url(../images/taobao.png);
    background-position: -6px -5px;
    /* 设置图片和文字垂直居中对齐 */
    vertical-align: middle;
  }
/* 头部区域 */
  .header{
    margin:30px auto;
    height: 70px;
}
.header .logo{
    margin-right: 20px;
    width: 207px;
    height: 70px; 
}

/* 搜索引擎优化的做法 */
.logo h1{
    width: 207px;
    height: 70px;
}
.logo h1 a{
    display:block;
    width: 207px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
    background-position: center;
    /* background-size: contain; */
    /* 字号为0是为了让H1里面的字看不到 */
    font-size: 0;
}

/* 导航文字 首页 */
.header .noa-1{
    line-height: 70px;
}
.header .noa-1 li{
    margin-right: 48px;
}
.header .noa-1 li a{
    padding: 7px 0;  
}
.header .noa-1 li a:hover{
  border-bottom: 1px solid #27ba5b;
  color: #27ba5b;
}

/* 搜一搜 */
.header .noa-2{
  position: relative;
  margin-left: 34px;
  margin-top: 24px;
  width: 172px;
  height: 30px;
  border-bottom: 2px solid #e7e7e7;
}

.header .noa-2 input{
  padding-left: 30px;
  width: 172px;
  height: 28px;
}
/* 控制输入框文字预显示效果 */
.header .noa-2 input::placeholder{
  font-size: 14px;
  color: #ccc;
}
.header .noa-2 span{
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../images/taobao.png);
  background-position:0 -222px ;
  left: 0;
  top: 3px;  
}

/* 购物车 */
.header .noa-3{
  position: relative;
  margin-left: 15px;
  margin-top: 25px;
  width: 23px;
  height: 23px;
  background-image: url(../images/taobao.png);
  background-position: 0 -352px;
}

.header .noa-3 span{
  /* 绝对定位，盒子会具备行内块特点 */
  position: absolute;
  top: -6px;
  right: -11px;
  width: 20px;
  height: 15px;
  background-color: orange;
  border-radius: 8px;
  line-height: 15px;
  text-align: center;
  font-size: 13px;
  color: aliceblue;
}

/* 版权区域 */
.footer{
  height: 343px;
  margin-top: 20px;
  background-color: #333;
}
.footer .wrapper{
  width: 1393px;
}
.footer .top{
  height: 175px;
  padding-top: 59px;
  padding-left: 160px;
  border-bottom: 3px solid #434343;
}

.footer .top li{
  margin-right: 300px;
  width: 195px;
  height: 58px;
  
  line-height: 58px;
  text-align: center;
  font-size: 28px;
  color: #e7e7e7;
}
/* 最后一个li设置右边距0 */
.footer .top li:last-child{
  margin-right: 0;
}

/* 使用的是伪元素 */
.footer .top li::before{
  content: '';
  display: inline-block;
  width: 58px;
  height: 58px;
  vertical-align: middle;
  background-image: url(../images/taobao.png);
  background-position: 17px -247px;
  background-repeat: no-repeat;
}
/* 第二个li里面的 伪元素添加背景图位置*/
.footer .top li:nth-child(2)::before{
  background-position: 17px -160px;
}
.footer .top li:nth-child(3)::before{
  background-position: 17px -70px;
}

.footer .bottom{
  padding-top: 40px;
  color: #e7e7e7;
  text-align: center;
}
.footer .bottom a{
  padding: 10px;
  color: #e7e7e7;
}
.footer .bottom p{
  margin-bottom: 20px;
}
